
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>User Dashboard</h3>
				<div *ngIf="error" class="alert alert-danger">{{error}}</div>
		       <div *ngIf="success" class="alert alert-success">{{success}}</div>
               
            </div>
			 <table class="table table-striped">
    <thead>
        <tr>
          
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users.data">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
  MIS Patrika group
</div>
